services:
  web:
    build: ./namozvaqtlari

    volumes:
      - static:/app/static
      - media:/app/media
      - ./dbfile/:/app/dbfile/
      - ./namozvaqtlari/jamoatnamozlariapp/migrations/:/app/jamoatnamozlariapp/migrations/
    
  bot:
    build: ./bot

    depends_on:
      - web
      - redis

  redis:
    image: redis:alpine

    depends_on:
      - web

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/app/static
      - media:/app/media
    ports:
      - "8000:80"
    depends_on:
      - web

volumes:
  static: {}
  media: {}