services:
  web:
    build: ./namozvaqtlari
    # ports:
    #   - "8000:8000"

    volumes:
      - static:/app/static
      - ./dbfile/:/app/dbfile/
    
  bot:
    build: ./bot

  redis:
    image: redis:alpine

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/app/static
    ports:
      - "8000:80"
    depends_on:
      - web

volumes:
  static: {}